<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesunde Rezeptideen</title>
</head>
<body>
    <header>
        <div>
            <img src="..\images\logo.png" alt="Logo der Webseite" width="80">
            <h1>Gesunde Rezeptideen</h1>
        </div>
    </header>

    <main>
        
        <section>
            <img src="" alt="Rezeptbild">
            <h2>Rezepttitel</h2>
            <p>Rezeptbeschreibung</p>
        </section>

        <section>
            <h3>Zutaten</h3>
            <ul>
                <li>Zutat</li>
            </ul>
        </section>

        <section>
            <h3>Zubereitung</h3>
            <ol>
                <li>Schritt</li>
            </ol>
        </section>

        <nav>
            <a href="#">Zurück</a>
            <a href="#">Startseite</a>
            <a href="#">Nächstes Rezept</a>
        </nav>
    </main>

    <footer>
        <p>Kontakt</p>
    </footer>
</body>
</html>