<div>
    <img src="../images/logo.png" alt="Logo der Webseite" width="80">
    <h1>Gesunde Rezeptideen</h1>
</div>

<nav aria-label="Hauptnavigation">
    <ul>
        <li><a href="../index.html">Startseite</a></li>
        <li>
            Rezepte
            <ul>
                <li><a href="../Rezeptseiten/rezept_1.html">Nudeln mit Paprikasoße</a></li>
                <li><a href="../Rezeptseiten/rezept_2.html">Leichte Nudelpfanne mit Hähnchen</a></li>
                <li><a href="../Rezeptseiten/rezept_3.html">Big Mac Salat</a></li>
                <li><a href="../Rezeptseiten/rezept_4.html">Griechischer Kartoffelsalat</a></li>
            </ul>
        </li>
        <li><a href="../info/info.html">Informationsseite</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
    </ul>
</nav>