<div class="site-branding">
    <a class ="logo-link" href="../index.html">
        <img class ="logo" src="../images/logo.png" alt="Logo der Webseite">
    </a>
    <h1>Gesunde Rezeptideen</h1>
</div>

<nav class="main-navigation" aria-label="Hauptnavigation">
    <ul>
        <li><a href="../index.html">Startseite</a></li>
        <li>
            <span class="nav-label">Rezepte</span>
            <ul>

            </ul>
        </li>
        <li><a href="../info/info.html">Informationsseite</a></li>
        <li><a href="#kontakt">Kontakt</a></li>
    </ul>
</nav>